@import 'reset.css';

html {
    font-size: 13px;
    line-height: 21pt;
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
}

h1 { 
    font-family: 'roboto', sans-serif;
    font-size: 5.5em;
    font-weight: 500;
    padding-bottom: .5em;
    text-transform: uppercase;
    letter-spacing: .5em;
    line-height: 2em;
    /*color:darkslategray;*/
}

h2 {
    font-size: 4em;
    font-weight:800;
    padding-bottom: .5em;
}
h3 {
    font-size: 2em;
    font-weight: 500;
    padding-bottom: 1em;
}

h4 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: .5em;
}

h5 {
    font-size: 1.5em;
    font-weight: 500;
    padding: .5em 0;
    color: #707070;
}

h6 {
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 1em;
    margin: 0 3em;
    border-top: 1px solid #fff;
}

p, em {
    font-size: 1.2em;
    line-height: 1.3em; 
    padding-bottom: .5em;
}

.clear {
    clear: both;
}

header img {
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
    padding: 3em;
}

/*=========BIG STRUCTURE==========*/

footer p {
    text-align: center;
    margin-bottom: 50px;
    color: #707070;
}

/*======NAVIGATION======*/

.navigation {
    position: fixed;
    left: 0;
    z-index: 100;
}

nav {
    text-align:left;
    padding-top: 2em;
}
nav ul li {
    display:inline;
    background: #fcf;
    margin-right: 20px;
}

nav ul li a {
    font-size: 1.5em;
    font-weight: 500;
    color:black;
    display: inline-block;
    padding: 10px;
    letter-spacing: 3px;
}

nav ul li a:hover {
    text-decoration: none;
/*    letter-spacing: 20px;*/
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
}

nav.gallery {
    text-align: right;
    display: block;
    margin-right: 20px;
}

.resume {
    padding:1em;
    background: #E0E0E0;
    border-radius: 5px;
}
.resume0 {
    margin-top: 1em;
}


/*======BODY======*/
.heading {
    margin-top: 100px;
}

.container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.container img {
    width: 70%;
    height: 70%;
    margin: 10px;
}

img.first-row {
    margin-top: 100px;
}

img.stand {
    width: 40%;
    height: 40%;
}



/*============MEDIA=============*/

@media screen and (max-width:1200px) {
 

@media screen and (max-width: 750px) {

.container img {
    width: 90%;
    height: 90%;
    padding: 10px;
}
img.stand {
    width: 90%;
    height: 90%;
}
    
    .navigation {
    position: fixed;
    left: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.7);
    height: 100px;
    overflow: hidden;
}

nav ul li a {
    font-size: 1.2em;
    font-weight: 500;
    color:black;
    display: inline-block;
    padding: 5px 5px 10px 5px;
    letter-spacing: 3px;
}    
    
    nav ul li {
    margin-right: 0px;
}
    

    
}